aside {
  width: 20vw;
  height: 100vh;
  z-index: 2;
  position: fixed;
  top: 0;
  left: -300px;
  background-color: gray;
  transition-property: left;
  transition-timing-function: ease-in-out;
  transition-duration: 250ms;
}

#aside-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.25);
}
